 button{
    border-style: none;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    
} 
button:hover{

}

.list-panel{
    height: 30px;
    
    background-color: bisque;
}

.search-bar{
   
    border-radius: 5px;
    border-color: cornflowerblue;
    border-width: 2px;


}
