 button{
    border-style: none;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    border-radius: 5px;
    background-color: cornflowerblue;
    
} 


.list-panel{
    height: 30px;
    
    background-color: bisque;
}

.search-bar{
   
    border-radius: 5px;
    border-color: cornflowerblue;
    border-width: 3px;


}
