.main{
   
        height: 500;
        width:400px;
        justify-content: center;
       border-radius: 3px solid black;
       
    }


    
.btn{
    display: none;
}



button{
    border-style: none;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    border-radius: 5px;
    background-color: cornflowerblue;
    
} 




#root{
   
    align-items: center;
    height: auto;
    
    border: 1px solid black;
}

.courses:hover .btn {
    display: block;   
}


.btn{
    display: none;
}
li{
    margin-bottom: 20px;
}


.course-list{
   height: auto;
   width: auto;
  
   margin-top: 10px;
   margin-bottom: 10px;

   

  
}

.search-input{
      border-radius: 5px;
    border-color: cornflowerblue;
    border-width: 3px;
}


p{
    margin-left: 25px;
}
.container{
   
    margin-top: 10px;
    color: darkblue;
   
   

}
.courses{
    margin-right: 15px;

}



h2{
    color: olive;
}





.row{
    width: 400px;
    height: 400px;
}
.list{
    color: black;
}

.listing{
    margin-top: 10px;
}


